<!DOCTYPE html>
<html lang="en-US">

  <body>
    <h1>Almacenamiento IEEZ</h1>
    <form (submit)="signin()">
        <h2 class="titulo" >Iniciar sesión</h2>
        <ul style="align-items:center">
          <li>
            <div class="form-group">
                <input type="text" class="campo" [(ngModel)]="cuenta.user" name="User"  placeholder="Usuario" required autofocus>
            </div>          
        </li>
        
          <li>
            <div class="form-group">
                <input type="password" class="campo" [(ngModel)]="cuenta.password" name="contraseña"  placeholder="Contraseña" required id="myInput">
                <!--<input type="checkbox" onclick="myFunction()">MostrarContraseña-->
            </div>
          </li>
          <li class="button">
            <button class="boton1" type ="submit" >
                Entrar
            </button>
          </li>
        </ul>
      </form>

  </body>
  <footer><a class="foto" href="https://www.ieez.org.mx" target ="_blank">
      <img src="../.././../assets/image1svg49-81c-200h.png" hint ="IEEZ" alt="IEEZ" height="auto" >
    </a></footer>

</html>