<body>
	<header class="header">
		<div class="container">
			<div class="logo">
				<img src="../.././../assets/image1svg49-81c-200h.png" hint ="IEEZ" alt="IEEZ" height="50px" >
			  </div>
			<div class="btn-menu">
				<label for="btn-menu">☰</label>
			</div>
        
		</div>
	</header>
	<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav style= "cursor: pointer">
			<a href="#">Buscar Cédula</a>
			<a href="lista">Lista de Usuarios</a>
      <a (click)="logOff()" ><img src=".././../../assets/logoff.png"  hint ="Cerrar Sesión" alt="Cerrar Sesión" height="30px" >Cerrar sesión</a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>
</body>
